:root {
    --login-contact-btn: hsl(0, 94%, 66%);
    --btn-color-blue: hsl(231, 69%, 60%);
}

body {
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
}

h2 {
    font-weight: bolder;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

.main {
    padding-top: 2rem;
}

.navbar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto 4rem 4rem;
}

.navbar-item:nth-child(2) {
    display: flex;
    justify-content: space-evenly;
}

.navbar-item:nth-child(2) img {
    display: none;
}

.navbar-item:nth-child(2) a {
    padding: 0.2rem 1rem;
    color: black;
}

.navbar-item:nth-child(2) a:last-child {
    background-color: var(--login-contact-btn);   
    border-radius: 0.2rem;
}

.navbar-item:nth-child(2) button {
    background-color: var(--login-contact-btn);
    border: none;
    color: white;
}

.hero-section {
    display: flex;
    margin: 2rem auto 1rem 4rem;
    gap: 1.5rem;
    position: relative;
}

.hero-section-item:nth-child(1) {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.hero-section h1 {
    font-weight: bolder;
}

.hero-section-button {
    padding: 0.2rem auto;
    display: flex;
    gap: 0.5rem;
}

.hero-section-button > button {
    padding: 0.4rem 1rem;
    border: none;
    border-radius: 0.2rem;
}

.hero-section-button > button:first-child {
    box-shadow: 0px 8px 8px -6px  hsla(229, 8%, 60%, 0.514);
    background-color: var(--btn-color-blue);
    color: white;
}

.hero-section-button > button:last-child {
    background-color: hsla(229, 8%, 60%, 0.1);
    box-shadow: 0px 8px 8px -6px hsla(231, 69%, 60%, 0.509);
}

.hero-section-item:nth-child(2)::after {
    content: "";
    background: var(--btn-color-blue);
    position: absolute;
    right: 0rem;
    bottom: -2rem;
    width: 40%;
    height: 75%;
    z-index: -1;
    border-top-left-radius: 30% 50%;
    border-bottom-left-radius: 30% 50%;
}

.features-section {
    display: flex;
    margin: 6rem 25% 2rem;
    flex-direction: column;
    width: 50%;
    text-align: center;
    gap: 0.4rem;
}

.features-section h2 {
    font-weight: bolder;
}

.illustration-headers {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1rem solid hsla(229, 8%, 60%, 0.505);
}

.illustration-headers  a {
    margin-bottom: 0;
    padding: 0 1rem 1rem;
    border-bottom: 0.2rem solid var(--login-contact-btn);
    color: black;
}

a.searching, a.sharing {
    border-bottom: none;
}

.illustrations {
    margin: 4rem;
}

.tab-1, .tab-2, .tab-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    gap: 5.5rem;
}

.illustration::after {
    content: "";
    position: absolute;
    left: -10rem;
    bottom: -5rem;
    width: 60%;
    height: 95%;
    background: var(--btn-color-blue);
    z-index: -1;
    border-top-right-radius: 30% 50%;
    border-bottom-right-radius: 30% 50%;
}

#illustrationTwo::after, #illustrationThree::after {
    width: 52%;
}

.tab-2, .tab-3 {
    display: none;
}

.tab-1-text, .tab-2-text, .tab-3-text {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.tab-1-text h2, .tab-2-text h2, .tab-3-text h2 {
    font-weight: bolder;
}

.tab-1-text button, .tab-2-text button, .tab-3-text button {
    padding: 0.4rem 1rem;
    border: none;
    border-radius: 0.2rem;
    background-color: var(--btn-color-blue);
    color: white;
}

.download-section {
    margin: 11rem 20% 0;
}

.download-header {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.download-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    text-align: center;
    height: 200%;
}

.bg-dots{
    width: 100%;
}

.download-images > div {
    border-radius: 0.5rem;
    padding: 1.5rem 0;
    background-color: hsla(229, 8%, 60%, 0.032);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    box-shadow: 0px 8px 8px -4px hsla(231, 69%, 60%, 0.509);
}

.chrome {
    margin-bottom: 4rem;
}

.firefox {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.opera {
    margin-top: 4rem;
}

.download-images h4 {
    font-weight: bolder;
    margin-bottom: 0;
}

.download-images button {
    padding: 0.4rem 1rem;
    border: none;
    border-radius: 0.2rem;
    background-color: var(--btn-color-blue);
    color: white;
}

.faq {
    margin: 7rem 25% 0;
    width: 50%;
}

.faq-header {
    text-align: center;
    margin-bottom: 3rem;
}

.accordion-item:nth-child(1) .accordion-button {
     border-top: 0.001px solid rgba(0, 0, 0, 0.162);
}

.accordion-button {
    font-weight: bold;
}

.faq-btn {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.faq-btn button {
    padding: 0.4rem 1rem;
    border: none;
    border-radius: 0.2rem;
    background-color: var(--btn-color-blue);
    color: white;
}

.user-mail {
    margin-top: 10rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem 0 4rem;
    background-color: var(--btn-color-blue);
    color: white;  
}

.user-mail p {
    letter-spacing: 0.3rem;
}

.user-mail form {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.user-mail form > div {
    display: flex;
    flex-direction: column;
    border-radius: 0.2rem 0.2rem 0 0;
}

input {
    padding: 0.4rem 1rem;
    border-radius: 0.2rem;
    border: none;
}

input::placeholder {
    font-size: small;
    opacity: 0.5;
}

.invalid {
    padding: 0.4rem 1rem;
    border-radius: 0.2rem 0.2rem 0 0;
    border-color: var(--login-contact-btn);
    background-image: url(./images/icon-error.svg);
    background-repeat: no-repeat;
    background-position: 95% center;
}

.error-msg {
    background-color: var(--login-contact-btn);
    font-style: italic;
    font-size: x-small;
    text-align: left;
    padding: 0.2rem 0.2rem;
    border-radius: 0 0 0.2rem 0.2rem;
    display: none;
}

form button {
    padding: 0.4rem 1rem;
    border: none;
    border-radius: 0.2rem;
    background-color: var(--login-contact-btn);
    color: white;
    height: 100%;
}

.footer {
    background-color: hsl(229, 31%, 21%);
    color: white;
    display: grid;
    padding: 2rem 4rem;
    grid-template-columns: repeat(2, 1fr);
}

.footer a {
    color: white;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
}

.footer-logo img {
    filter: invert(1) brightness(100%) hue-rotate(180deg);
}

.footer-socials {
    justify-self: end;
    display: flex;
    gap: 3rem;
}

/* ACTIVE STATES */

.navbar-item:nth-child(2) a:hover {
    color: var(--login-contact-btn);
}

.navbar-item:nth-child(2) a:last-child:hover {
    background-color: white;
    border: 0.1rem solid var(--login-contact-btn);
}

.navbar-item:nth-child(2) button:hover {
    background-color: white;
    color: var(--login-contact-btn);
}

.hero-section-button > button:first-child:hover {
    box-shadow: 0px 8px 8px -6px  hsla(229, 8%, 60%, 0.514);
    background-color: white;
    color: var(--btn-color-blue);
    border: 0.1rem solid var(--btn-color-blue);
}

.hero-section-button > button:last-child:hover {
    background-color: white;
    color:  hsl(229, 8%, 60%);
    box-shadow: 0px 8px 8px -6px hsla(231, 69%, 60%, 0.509);
    border: 0.1rem solid hsl(229, 8%, 60%);
}

.illustration-headers  a:hover {
    color: var(--login-contact-btn);
}

.illustrations button:hover {
    background-color: white;
    color: var(--btn-color-blue);
    border: 0.1rem solid var(--btn-color-blue);
}

.download-section button:hover {
    background-color: white;
    color: var(--btn-color-blue);
    border: 0.1rem solid var(--btn-color-blue);
}

.accordion-button:hover {
    color: var(--login-contact-btn);
}

/* .accordion-button.collapsed::after {
    color: var(--btn-color-blue);
} */

/* .accordion-button::after {
    background-image: url(./assets/images/icon-minus.svg);
    display: inline-block;
}

.accordion-button:not(.collapsed)::after {
    color: var(--btn-color-blue);
} */

.faq-btn button:hover {
    background-color: white;
    color: var(--btn-color-blue);
    border: 0.1rem solid var(--btn-color-blue);
}

form button:hover {
    background-color: white;
    color: var(--login-contact-btn);
    border: 0.1rem solid var(--login-contact-btn);
}

.footer a:hover {
    color: var(--login-contact-btn);
}

.footer-socials img:hover {
    fill: var(--login-contact-btn);
    cursor: pointer;
}


/* RESPONSIVE DESIGN */

@media (max-width:950px) {

    .navbar {
        margin: auto 2rem 2rem;
    }

    .navbar-item:nth-child(2) {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .navbar-item:nth-child(2) img {
        display: inline-block;
        cursor: pointer;
    }
    
    .navbar-item:nth-child(2) a {
        /* z-index: 999; */
        display: none;
    }    

    .hero-section {
        flex-direction: column-reverse;
        margin: 4rem 0 2rem;
        gap: 2rem;
    }

    .hero-section-item:nth-child(1) {
        padding-top: 2rem;
        text-align: center;
    }

    .hero-section-item:nth-child(1) h1 {
        padding:0 1.5rem;
    }

    .hero-section-item:nth-child(1) p {
        padding:0 1.5rem;
    }

    .hero-section-item:nth-child(2) img {
        width: 100%;
    }

    .hero-section-item:nth-child(2)::after {
        content: "";
        background: var(--btn-color-blue);
        position: absolute;
        right: 0rem;
        bottom: 13rem;
        width: 80%;
        height: 55%;
        z-index: -1;
        border-top-left-radius: 30% 50%;
        border-bottom-left-radius: 30% 50%;
    }

    .hero-section-button {
        justify-content: center;
    }

    .features-section {
        margin: 6rem 2rem 2rem;
        width: fit-content;
    }

    .illustration-headers {
        flex-direction: column;
        gap: 0;
    }

    .illustration-headers a {
        text-align: center;
        border-top: 0.1rem solid hsla(229, 8%, 60%, 0.505);
        border-bottom: 0.1rem solid hsla(229, 8%, 60%, 0.505);
        display: flex;
        justify-content: center;
        padding-bottom: 0;
        padding-top: 16px;
        padding-bottom: 0;
    }

    .illustration-headers a:nth-child(1), .illustration-headers a:nth-child(2), .illustration-headers a:nth-child(3) {
        border-bottom: none;
    }

    .illustration-headers a:nth-child(1) p {
        border-bottom: 0.2rem solid var(--login-contact-btn);
    }

    .illustration-headers p {
        margin: 0;
        align-self: flex-start;
        padding-bottom: 16px;
    }


}





@media (max-width:600px) {

    .hero-section-item:nth-child(2)::after {
        content: "";
        background: var(--btn-color-blue);
        position: absolute;
        right: 0rem;
        bottom: 13.5rem;
        width: 80%;
        height: 40%;
        z-index: -1;
        border-top-left-radius: 30% 50%;
        border-bottom-left-radius: 30% 50%;
    }
}

@media (max-width:450px) {
    
    .hero-section-item:nth-child(2)::after {
        content: "";
        background: var(--btn-color-blue);
        position: absolute;
        right: 0rem;
        bottom: 18.5rem;
        width: 80%;
        height: 35%;
        z-index: -1;
        border-top-left-radius: 30% 50%;
        border-bottom-left-radius: 30% 50%;
    }
    
}